{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/index.css') }}">
{% endblock %}

{% block body %}
    <div id="map" class="column is-8 is-offset-2 h-50"></div>
    <div class="column is-4 is-offset-4 is-8-mobile is-offset-2-mobile">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>
    <div class="columns">
        <div class="column is-2 is-offset-3 is-6-mobile is-offset-3-mobile">
            <button class="button is-outlined is-link w-100">Get Lat
                Long
            </button>
        </div>
        <div class="column is-2 is-6-mobile is-offset-3-mobile">
            <button class="button is-outlined is-info w-100">Current Location
            </button>
        </div>
        <div class="column is-2 is-6-mobile is-offset-3-mobile">
            <button class="button is-outlined is-success w-100">Get Markers Distance
            </button>
        </div>
    </div>
    <div class="modal">
        <div class="modal-background"></div>
        <div class="modal-card">
            <div class="modal-card-head">
                <p class="modal-card-title">Get Markers Distance</p>
                <button class="delete"></button>
            </div>
            <div class="modal-card-body">
                <div class="field">
                    <label class="label">From</label>
                    <div class="control">
                        <div class="select">
                            <select>
                                <option disabled value="default">Select Marker...</option>
                                {#<option v-for="locationData in allLocationData" :value="locationData.marker">#}
                                {#{{locationData.address}}#}
                                {#</option>#}
                                {#<option :value="currentLocationData.marker" v-if="currentLocationData.marker">#}
                                {#{{currentLocationData.address}} (Current)#}
                                {#</option>#}
                            </select>
                        </div>
                    </div>
                </div>

                <div class="field">
                    <label class="label">To</label>
                    <div class="control">
                        <div class="select">
                            <select>
                                <option disabled value="default">Select Marker...</option>
                                {#<option v-for="locationData in allLocationData" :value="locationData.marker">#}
                                {#{{locationData.address}}#}
                                {#</option>#}
                                {#<option :value="currentLocationData.marker" v-if="currentLocationData.marker">#}
                                {#{{currentLocationData.address}} (Current)#}
                                {#</option>#}
                            </select>
                        </div>
                    </div>
                </div>

                {#<p>{{distanceMsg}}</p>#}
                {#<p>{{directionMsg}}</p>#}
            </div>
            <div class="modal-card-foot">
                <div class="columns w-100">
                    <div class="column">
                        <button class="button is-link w-100">Get Navigation Instructions
                        </button>
                    </div>
                    <div class="column">
                        <button class="button is-primary w-100">Get Distance</button>
                    </div>
                    <div class="column">
                        <button class="button w-100">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {#<div class="tc">{{outputMsg}}</div>#}
    {% if latitude is defined and longitude is defined %}
        <div class="tc">Lat: {{ latitude }} - Lng: {{ longitude }}</div>
    {% endif %}
    <div id="info-window">
        {#<p><b>Lat:</b> {{currentClickMarker.position.lat()}} - <b>Longitude:</b> {{currentClickMarker.position.lng()}}</p>#}
        <label class="label">Info</label>
        <ol>
            {#<li v-for="(info, index) in currentClickMarkerInfo">Info {{index + 1}}: {{info}}</li>#}
        </ol>
        <p>No info yet</p>
        <div class="field">
            <label class="label">Add New Info</label>
            <div class="control">
                <textarea class="textarea" placeholder="Info about this location..."></textarea>
            </div>
        </div>
        <div class="field">
            <div class="control">
                <button class="button is-link w-100">Add</button>
            </div>
        </div>
    </div>

    {#<div id="navigationPage">#}
    {#<div id="navigationMap" class="column is-8 is-offset-2 h-50"></div>#}
    {#<div class="column is-4 is-offset-4 is-8-mobile is-offset-2-mobile mt2">#}
    {#<button class="button is-outlined is-link w-100" @click="handleClickStopNavigation">Stop Navigation</button>#}
    {#</div>#}
    {#<p class="tc mt2 f4">Distance: {{estimatedDistance}}</p>#}
    {#<p class="tc f4">Time: {{estimatedTime}}</p>#}
    {#<div class="column is-8 is-offset-2">#}
    {#<div class="message is-link" v-for="(direction, index) in directions">#}
    {#<div class="message-header">#}
    {#<p>Step {{index + 1}} - {{direction.distance}} - {{direction.duration}}</p>#}
    {#</div>#}
    {#<div class="message-body" v-html="direction.instructions">#}
    {#</div>#}
    {#</div>#}
    {#</div>#}
    {#</div>#}

{% endblock %}

{% block javascripts %}
    <script>
        var locations = [];
        {% if locations is defined %}

        {% for location in locations %}
        locations.push({
            address: "{{ location.address }}",
            lat: {{ location.latitude }},
            lng: {{ location.longitude }},
            markerType: "{{ location.markerType }}",
            markerColor: "{{ location.markerColor }}"
        });
        {% endfor %}

        {% endif %}
    </script>
    <script
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBzyeRbwaJmvWe_R4b7j4R15Lc8fcw16B0&callback=initMap"
            async defer></script>
    <script src="{{ asset('js/index.js') }}"></script>
{% endblock %}