{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/index.css') }}">
{% endblock %}

{% block body %}
    <div id="map" class="column is-8 is-offset-2 h-50"></div>
    <div class="column is-4 is-offset-4 is-8-mobile is-offset-2-mobile">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>
    <div class="columns">
        <div class="column is-2 is-6-mobile is-offset-3-mobile">
            <a class="button is-outlined is-success w-100" href="/distance">Get Markers Distance
            </a>
        </div>
        <div class="column is-2 is-6-mobile is-offset-3-mobile">
            <a class="button is-outlined is-info w-100" href="/direction">Get Directions</a>
        </div>
    </div>
    {% if latitude is defined and longitude is defined %}
        <div class="tc">Lat: {{ latitude }} - Lng: {{ longitude }}</div>
    {% endif %}

{% endblock %}

{% block javascripts %}
    <script>
        var locations = [];
        {% if locations is defined %}

        {% for location in locations %}
        locations.push({
            address: "{{ location.address }}",
            lat: {{ location.latitude }},
            lng: {{ location.longitude }},
            markerType: "{{ location.markerType }}",
            markerColor: "{{ location.markerColor }}",
            info: "{{ location.info }}"
        });
        {% endfor %}

        {% endif %}
    </script>
    <script
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBzyeRbwaJmvWe_R4b7j4R15Lc8fcw16B0&callback=initMap"
            async defer></script>
    <script src="{{ asset('js/index.js') }}"></script>
{% endblock %}